In [34]:
import pandas as pd

## Reading moon data from csv

In [24]:
data = pd.read_csv("Moons_and_planets.csv",delimiter=',',header='infer')
data

    # Name of Moon  Name of Planet   Diameter (km)
0             Moon           Earth          1737.1
1           Phobos            Mars            11.1
2           Deimos            Mars             6.2
3               Io         Jupiter          1818.1
4           Europa         Jupiter          1560.7
..             ...             ...             ...
205         Charon           Pluto           606.0
206            Nix           Pluto            23.0
207          Hydra           Pluto            30.5
208       Kerberos           Pluto            14.0
209           Styx           Pluto            10.0

[210 rows x 3 columns]

In [25]:
data.columns = ['Satellite','Planet','Diameter']
data.head()

  Satellite   Planet  Diameter
0      Moon    Earth    1737.1
1    Phobos     Mars      11.1
2    Deimos     Mars       6.2
3        Io  Jupiter    1818.1
4    Europa  Jupiter    1560.7

## Counting number of moons of each planet

In [5]:
Planets = ['Mercury','Venus','Earth','Mars','Jupiter','Saturn','Uranus','Neptune','Pluto']

In [30]:
print("Number of moons of each planet \n")

for planet in Planets:
    count = 0                               # counter for moons of particular planet
    for index, row in data.iterrows():      # Iterate over each row 
        if row['Planet'] == planet:
            count+=1                        
    print(planet,count)

Number of moons of each planet

Mercury 0
Venus 0
Earth 1
Mars 2
Jupiter 79
Saturn 82
Uranus 27
Neptune 14
Pluto 5

## Ordering the moons according to size

In [33]:
print("Moons in order of diameters with respective planets")
print("-"*30)
for index, row in data.sort_values(by='Diameter',ascending=False).iterrows():
    print("{:<15}{:<8}{:>5}".format(row['Satellite'],row['Planet'],row['Diameter']))

Moons in order of diameters with respective planets
------------------------------
Ganymede       Jupiter 2634.1
Titan          Saturn  2575.5
Callisto       Jupiter 2408.4
Io             Jupiter 1818.1
Moon           Earth   1737.1
Europa         Jupiter 1560.7
Triton         Neptune 1353.4
Titania        Uranus  788.9
Rhea           Saturn  764.5
Oberon         Uranus  761.4
Iapetus        Saturn  734.5
Charon         Pluto   606.0
Umbriel        Uranus  584.7
Ariel          Uranus  578.9
Dione          Saturn  562.5
Tethys         Saturn  536.3
Enceladus      Saturn  252.3
Miranda        Uranus  235.8
Proteus        Neptune 210.0
Mimas          Saturn  198.2
Nereid         Neptune 178.5
Hyperion       Saturn  138.6
Phoebe         Saturn  106.6
Larissa        Neptune  97.0
Janus          Saturn   90.4
Galatea        Neptune  88.0
Amalthea       Jupiter  83.5
Puck           Uranus   81.0
Sycorax        Uranus   78.5
Despina        Neptune  75.0
Portia         Uranus   67.6
Himalia        Jupiter  67.0
Epimetheus     Saturn   58.3
Thebe          Jupiter  49.3
Juliet         Uranus   46.8
Prometheus     Saturn   46.8
Elara          Jupiter  43.0
Thalassa       Neptune  41.0
Pandora        Saturn   40.6
Belinda        Uranus   40.3
Cressida       Uranus   39.8
Rosalind       Uranus   36.0
Naiad          Neptune  33.0
Desdemona      Uranus   32.0
Halimede       Neptune  31.0
Hydra          Pluto    30.5
Pasiphae       Jupiter  30.0
Neso           Neptune  30.0
Bianca         Uranus   25.7
Prospero       Uranus   25.0
Setebos        Uranus   24.0
Nix            Pluto    23.0
Carme          Jupiter  23.0
Sao            Neptune  22.0
Metis          Jupiter  21.5
Ophelia        Uranus   21.4
Laomedeia      Neptune  21.0
Caliban        Uranus   21.0
Cordelia       Uranus   20.1
Siarnaq        Saturn   20.0
Psamathe       Neptune  20.0
Sinope         Jupiter  19.0
Lysithea       Jupiter  18.0
Hippocamp      Neptune  17.4
Helene         Saturn   16.0
Albiorix       Saturn   16.0
Atlas          Saturn   15.3
Perdita        Uranus   15.0
Ananke         Jupiter  14.0
Kerberos       Pluto    14.0
Pan            Saturn   12.8
Telesto        Saturn   12.0
Phobos         Mars     11.1
Paaliaq        Saturn   11.0
Stephano       Uranus   10.0
Styx           Pluto    10.0
Leda           Jupiter  10.0
Calypso        Saturn    9.5
Trinculo       Uranus    9.0
Cupid          Uranus    9.0
Ymir           Saturn    9.0
Adrastea       Jupiter   8.2
Kiviuq         Saturn    8.0
Tarvos         Saturn    7.5
Deimos         Mars      6.2
Francisco      Uranus    6.0
Ferdinand      Uranus    6.0
Ijiraq         Saturn    6.0
Mab            Uranus    6.0
S/2004 S 27    Saturn    6.0
S/2004 S 35    Saturn    6.0
Margaret       Uranus    5.5
Erriapus       Saturn    5.0
Callirrhoe     Jupiter   4.3
Skathi         Saturn    4.0
Hyrrokkin      Saturn    4.0
S/2004 S 26    Saturn    4.0
S/2004 S 23    Saturn    4.0
S/2004 S 25    Saturn    4.0
S/2004 S 28    Saturn    4.0
S/2004 S 29    Saturn    4.0
S/2004 S 31    Saturn    4.0
S/2004 S 32    Saturn    4.0
S/2004 S 33    Saturn    4.0
S/2004 S 37    Saturn    4.0
S/2004 S 38    Saturn    4.0
Themisto       Jupiter   4.0
Daphnis        Saturn    3.8
Narvi          Saturn    3.5
Tarqeq         Saturn    3.5
Bestla         Saturn    3.5
Kari           Saturn    3.5
Thrymr         Saturn    3.5
Suttungr       Saturn    3.5
Mundilfari     Saturn    3.5
Praxidike      Jupiter   3.4
S/2007 S 3     Saturn    3.0
S/2004 S 7     Saturn    3.0
S/2004 S 13    Saturn    3.0
S/2006 S 1     Saturn    3.0
S/2006 S 3     Saturn    3.0
S/2007 S 2     Saturn    3.0
S/2004 S 21    Saturn    3.0
Jarnsaxa       Saturn    3.0
S/2004 S 22    Saturn    3.0
S/2004 S 24    Saturn    3.0
S/2004 S 30    Saturn    3.0
S/2004 S 34    Saturn    3.0
S/2004 S 36    Saturn    3.0
S/2004 S 39    Saturn    3.0
Greip          Saturn    3.0
S/2004 S 20    Saturn    3.0
Aegir          Saturn    3.0
Hati           Saturn    3.0
Bergelmir      Saturn    3.0
S/2016 J 1     Jupiter   3.0
Bebhionn       Saturn    3.0
Fornjot        Saturn    3.0
Surtur         Saturn    3.0
Loge           Saturn    3.0
Skoll          Saturn    3.0
Megaclite      Jupiter   2.7
Kalyke         Jupiter   2.6
Iocaste        Jupiter   2.6
S/2004 S 12    Saturn    2.5
Taygete        Jupiter   2.5
Farbauti       Saturn    2.5
Harpalyke      Jupiter   2.2
Eukelade       Jupiter   2.0
Dia            Jupiter   2.0
Helike         Jupiter   2.0
Pallene        Saturn    2.0
Aoede          Jupiter   2.0
S/2004 S 17    Saturn    2.0
Thyone         Jupiter   2.0
Hermippe       Jupiter   2.0
Eirene         Jupiter   2.0
S/2017 J 1     Jupiter   2.0
Fenrir         Saturn    2.0
Autonoe        Jupiter   2.0
Isonoe         Jupiter   1.9
Chaldene       Jupiter   1.9
Erinome        Jupiter   1.6
Methone        Saturn    1.6
Arche          Jupiter   1.5
Carpo          Jupiter   1.5
Hegemone       Jupiter   1.5
Euanthe        Jupiter   1.5
Aitne          Jupiter   1.5
Eurydome       Jupiter   1.5
Polydeuces     Saturn   1.25
Orthosie       Jupiter   1.0
Sponde         Jupiter   1.0
Euporie        Jupiter   1.0
Kale           Jupiter   1.0
Pasithee       Jupiter   1.0
S/2003 J 4     Jupiter   1.0
Mneme          Jupiter   1.0
Eupheme        Jupiter   1.0
S/2017 J 9     Jupiter   1.0
S/2003 J 2     Jupiter   1.0
S/2017 J 7     Jupiter   1.0
S/2017 J 6     Jupiter   1.0
S/2017 J 5     Jupiter   1.0
Pandia         Jupiter   1.0
S/2017 J 3     Jupiter   1.0
S/2017 J 2     Jupiter   1.0
Thelxinoe      Jupiter   1.0
S/2003 J 19    Jupiter   1.0
Philophrosyne  Jupiter   1.0
S/2003 J 23    Jupiter   1.0
S/2003 J 18    Jupiter   1.0
Anthe          Saturn    1.0
S/2003 J 16    Jupiter   1.0
S/2003 J 10    Jupiter   1.0
S/2010 J 1     Jupiter   1.0
Herse          Jupiter   1.0
Kore           Jupiter   1.0
Cyllene        Jupiter   1.0
Kallichore     Jupiter   1.0
Ersa           Jupiter   1.0
S/2011 J 1     Jupiter   0.5
S/2003 J 12    Jupiter   0.5
Valetudo       Jupiter   0.5
S/2017 J 8     Jupiter   0.5
S/2011 J 2     Jupiter   0.5
S/2003 J 9     Jupiter   0.5
S/2010 J 2     Jupiter   0.5
Aegaeon        Saturn   0.33
S/2009 S 1     Saturn   0.15